@{
    Layout = null;
}
<!--Simulates alternate screen sizes for styling previews
    Accessible by adding /LargeScreenPreview to home page URL
    For best results, define styling measurements in ems to facilitate consistent zooming-->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <!--set src to desired page url(replacing homepage address with ..) and style height and width to desired resolution-->
    <iframe src="../" style="border:none;width:1600px;height:900px;"></iframe>
</body>
</html>
